<template>
  <div class="home">
    <PostCreateForm msg="Add Post"/>
  </div>
</template>

<script>
// @ is an alias to /src
import PostCreateForm from '@/components/PostCreateForm.vue'

export default {
  name: 'NewPost',
  components: {
    PostCreateForm
  }
}
</script>
