<template>
  <div class="home">
    <PostsList />
  </div>
</template>

<script>
// @ is an alias to /src
import PostsList from '@/components/PostsList.vue'

export default {
  name: 'Posts',
  components: {
    PostsList
  }
}
</script>
