<template>
  <div class="home">
    <div class="card bg-dark text-white">
      <img class="card-img" :src="post.poster" alt="Card image" />
      <div class="card-img-overlay">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{ post.description }}</p>
        <p class="card-text">{{ post.content }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Single",
  props: ["id"],
  data() {
    return {
      post: {}
    };
  },
  created() {
    this.loadMovie();
  },
  methods: {
    async loadMovie() {
      this.post = await fetch(
        `${this.$store.getters.getServerUrl}/posts/${this.id}`
      ).then(response => response.json());
      
    }
  }
};
</script>
