<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
        <form @submit.prevent="createStudent" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="titleInput">Title</label>
                    <input 
                        type="text" 
                        id="titleInput" 
                        class="form-control" 
                        placeholder="Tilte"
                        :class="errors.hasOwnProperty('title') ? 'is-invalid': ''"
                        v-model="post.title"
                    >
                <div class="invalid-feedback">
                    {{ errors.title }}
                </div>
            </div>

            <div class="mb-3">
                <label for="descriptionInput">Description</label>
                    <input 
                        type="text" 
                        id="descriptionInput" 
                        class="form-control" 
                        placeholder="Description"
                        :class="errors.hasOwnProperty('description') ? 'is-invalid': ''"
                        v-model="post.description"
                    >
                <div class="invalid-feedback">
                    {{ errors.description }}
                </div>
            </div>

            <div class="mb-3">
                <label for="validationTextarea">Content</label>
                <textarea 
                    class="form-control" 
                    id="validationTextarea" 
                    placeholder="Required example textarea" 
                    required
                    :class="errors.hasOwnProperty('content') ? 'is-invalid': ''"
                    v-model="post.content"
                >
                </textarea>
                <div class="invalid-feedback">
                    {{ errors.content }}
                </div>
            </div>


            <div class="custom-file mb-3">
                <input 
                  ref="image" 
                  type="file" 
                  id="validatedCustomFile"
                  :class="errors.hasOwnProperty('poster') ? 'is-invalid': ''"
                >
                
                <div class="invalid-feedback">{{ errors.poster }}</div>
            </div>

            <div class="custom-file mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
    </form>
  </div>
</template>

<script>
export default {
  name: 'PostCreateForm.vue',
  props: {
    msg: String
  },
  data() {
    return {
      post: {},
      errors: {},
      posts: []
    };
  },
  methods: {
      async createStudent() {
            var postData = new FormData();
            postData.append('title', this.post.title);
            postData.append('description', this.post.description);
            postData.append('content', this.post.content);
            postData.append('poster', this.$refs.image.files[0]);

      var newPost = await fetch(`${this.$store.getters.getServerUrl}/posts/`, {
        method: "post",
        
        body: postData
      }).then(resp => {
        let json = resp.json(); // there's always a body
        if (resp.status >= 200 && resp.status < 300) {
          return json.then(response => {this.errors = '';});
        } else {
          return json.then(err => this.validationText(err));
        }
      }); 
    },

    validationText(errors) {
      let currentObj = {};

      for (var key in errors) {
        currentObj[key] = errors[key][0];
      }
      this.errors = currentObj;
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
