<template>
  <div class="hello">
    <div v-for="post in postsServe" :key="post.id" class="card" style="width: 18rem;">
      <img :src="post.poster" class="card-img-top" alt />
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p
          class="card-text"
        >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button @click="goTo(post.id)" class="btn btn-primary">Read</button>
        <button class="btn btn-outline-danger btn-sm mx-1" @click="deletePost(post.id)">x</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PostsList",
  props: {
    // msg: String
  },
  data() {
    return {
      posts: {},
    };
  },
  computed:{
    postsServe(){
      return this.$store.getters.getPosts;
    }
  },
  mounted() {
    this.$store.dispatch('getServerPosts');
  },
  methods: {
    
    async deletePost(postid) {
      this.$store.dispatch('deletePost', postid);
    },

    goTo(id) {
      this.$router.push({ name: "Single", params: { id: id } });
    },
    
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
